<ion-tab-bar class="tab-bar" color="tertiary">
  <ion-tab-button (click)="navigateTo('/home')">
      <ion-icon name="home-outline"></ion-icon>
      início
  </ion-tab-button>
  <ion-tab-button (click)="navigateTo('/plans')">
      <ion-icon name="list"></ion-icon>
      planos
  </ion-tab-button>
  <ion-tab-button (click)="navigateTo('/conversation')">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      conversar
  </ion-tab-button>
  <ion-tab-button (click)="navigateTo('/personal-data')">
      <ion-icon name="person-outline"></ion-icon>
      perfil
  </ion-tab-button>
</ion-tab-bar>